html{
    background-color: aqua;
}
.intro{
    position:absolute;
    top:30%;
    bottom: 20%;
    left: 40%;
    background-color: yellow;
    height: 300px;
    width: 300px;
    border-radius: 5%;
}
#main{
    text-align: center;
    font-size: xx-large;
    
}
#box{
    display: inline;
    position: absolute;
    top: 40%;
    bottom: 50%;
    left: 10%;
    background-color: blueviolet;
    height: 50px;
    width: 50px;
}
#fox{
    display: inline;
    position: absolute;
    top: 40%;
    bottom: 50%;
    left: 33%;
    background-color: blueviolet;
    height: 50px;
    width: 50px;
}
#gox{
    display: inline;
    position: absolute;
    top: 40%;
    bottom: 50%;
    right: 28%;
    background-color: blueviolet;
    height: 50px;
    width: 50px;
}
#sox{
    display: inline;
    position: absolute;
    top: 40%;
    bottom: 50%;
    left: 78%;
    background-color: blueviolet;
    height: 50px;
    width: 50px;
}
#clicking{
    position:absolute;
    height:50px;
    width:125px;
    left: 30%;
    top: 75%;
    
    background-color: green;
    text-align: center;
    font-size: medium;
}